<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="~/bizweb.ico" type="image/x-icon" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" /> 
    <link href="~/Content/default.min.css" rel="stylesheet" />
    <script src="~/Content/js/default.js"></script>
    <link href="~/Content/css/live-chat.css" rel="stylesheet" />
 
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s);
        }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '293334697509343');
        fbq('track', 'PageView');
        fbq('track', 'CompleteRegistration');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=293334697509343&ev=PageView&noscript=1" />
    </noscript>

    <script src="~/Content/swiper3/js/swiper.js"></script>

    @RenderSection("styles",false)
</head>
<body>
 
    <div id="container">
         @Html.Partial("_Header")
    
        <div id="wrapper" class="clearfix">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
        <div id="registration" class="registration-frame" style="display: none;">
            <iframe id="iFrameRegistration" width="100%" height="700" scrolling="no" frameborder="0" style="border: none;" src=""></iframe>
        </div>
        <div id="login-div" class="login-form" style="display: none;">
            <form id="login-form" method="post" action="">
                <div class="padding-sm-bottom">
                    <img class="popup-login-logo" src="~/Content/images/bizweb_old_logo.png" alt="Bizweb">
                    <img class="popup-login-divider" src="~/Content/images/popup-divider.png" />
                    <span class="popup-login-text">Đăng nhập vào website của bạn</span>
                </div>
                <div class="form-group margin-bottom errors"><ul></ul></div>
                <div class="form-group subdomain hide">
                    <input name="Subdomain" class="form-input" placeholder="Đường dẫn website" data-val="true" data-val-length="Đường dẫn phải dài từ 4 đến 50 ký tự" data-val-length-max="50" data-val-length-min="4" data-val-regex="Đường dẫn website không hợp lệ" data-val-regex-pattern="^[a-zA-Z0-9-_]{4,50}$" aria-invalid="false" aria-describedby="Name-error">
                    <span class="subdomain-inline">.bizwebvietnam.net</span>
                    <div class="has-error padding-md-left padding-sm-top">
                        <span class="help-block"><span class="help-block field-validation-valid" data-valmsg-for="Subdomain" data-valmsg-replace="true"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-input" data-val="true" data-val-required="Nhập vào Email" data-val-email="Email không đúng định dạng" id="Email" name="Email" placeholder="Địa chỉ email" type="text" value="" aria-required="true" aria-invalid="true" aria-describedby="Email-error">
                    <div class="has-error padding-md-left padding-sm-top">
                        <span class="help-block"><span class="help-block field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <input name="Password" class="form-input" type="password" placeholder="Mật khẩu" data-val-required="Nhập vào mật khẩu" aria-required="true" data-val="true" data-val-length="Mật khẩu dài từ 6 đến 50 ký tự" data-val-length-max="50" data-val-length-min="6">
                    <div class="has-error padding-md-left padding-sm-top">
                        <span class="help-block"><span class="help-block field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-checkbox checkbox-confirm col-md-6 col-sm-6 col-xs-6">
                        <div class="checkbox-five">
                            <input class="big-checkbox" id="cbRememberMe" name="RememberMe" type="checkbox" value="true">
                            <label class="checkbox-tick" for="cbRememberMe"></label>
                        </div>
                        <label for="cbRememberMe" class="checkbox-label">Nhớ mật khẩu</label>


                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 forget-pass ">
                        <a href="#" class="forgot-password">Quên mật khẩu</a>
                    </div>
                </div>
                <div class="text-center" style="clear:both">
                    <button class="btn-login event-Login-form-submit" onclick="return login();" type="submit">Đăng nhập</button>
                </div>
            </form>
        </div>

        <div id="forget-div" class="login-form" style="display: none;">
            <form id="forget-form" method="post" action="">
                <div class="padding-sm-bottom">
                    <img class="popup-login-logo" src="~/Content/images/bizweb_old_logo.png" alt="Bizweb">
                    <img class="popup-login-divider" src="~/Content/images/popup-divider.png" />
                    <span class="popup-login-text">Bạn quên mật khẩu ?</span>
                </div>
                <div class="form-group margin-bottom errors"><ul></ul></div>
                <div class="form-group" style="padding-top : 20px;padding-bottom : 20px;">
                    <input class="form-input" data-val="true" data-val-required="Nhập vào Email" data-val-email="Email không đúng định dạng" id="forget-email" name="Email" placeholder="Nhập tên website của bạn" type="text" value="">
                    <div class="has-error padding-md-left">
                        <span class="error-email" style="display: none;"><span class="help-block field-validation-valid"> </span></span>
                    </div>
                </div>
                <div class="text-center" style="clear: both">
                    <button class="btn-login event-Login-form-submit click-forget-btn" type="submit">QUÊN MẬT KHẨU</button>
                </div>
            </form>
        </div>

        <div class="advertise-zone hidden-sm hidden-xs">
            <div class="advertise-content">
                <a href="http://khuyenmai.bizweb.vn/thang2-2017/?campaign=popup-khuyenmai0217&utm_source=bizweb&utm_campaign=khuyenmai0217&utm_medium=popup" target="_blank" rel="nofollow">
                    <img src="~/Content/images/marketing/khuyenmai-thang2-full.png" class="banner-full" />
                    <img src="~/Content/images/marketing/khuyenmai-thang2-small.png" class="banner-small hidden" />
                </a>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
        </div>


        <script src="~/Content/js/add-new-shop.js"></script>
        <!-- Start of LiveChat (www.livechatinc.com) code -->
        <script type="text/javascript">
            var __lc = {};
            __lc.license = 4036971;
            $(function () {
                (function () {
                    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
                    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
                })();
            });
        </script>
         
        <script type="text/javascript">
            $(function () {
                $(".advertise-zone i").click(function () {
                    $(".advertise-zone .banner-full").toggleClass("hidden");
                    $(".advertise-zone .banner-small").toggleClass("hidden");
                    $(this).toggleClass("active");
                });
            });
        </script>
    </div>
    <img class="scroll-top" src="~/Content/images/totop.png" style="display:none;cursor :pointer; position : fixed;bottom : 90px;right : 33px;z-index : 99999;" alt="BACK TO TOP" />
    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() > 700) {
                    $('.scroll-top').show();
                } else {
                    $('.scroll-top').hide();
                }
            });

            $('.scroll-top').click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            });
            if ($(window).width() < 768) {
                $('.scroll-top').css({ 'bottom': '90px', 'right': '8px' });
            }
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>
